<html>
  <head>
    <title>Genre page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Please Select Genre</h1>
      <br>
      <form id="form" method="post" action = "/genre">
      	<label for="num">Enter Genre : </label>
        <input type="text" placeholder="Genre_name" name="genre" value="{{
          request.form.genre }}">
          <input class="btn btn-default" type="submit" value="Login">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>
