<html>
  <head>

    <title>Old or new page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- Google Fonts --> 
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand" rel="stylesheet">

    <link rel= "stylesheet" type= "text/css" href= "../static/login.css">
  </head>
  <body>
    <div class="container main">
      <div class="col align-self-center">

        <div class="row">
          <img class="logo" src="../static/logo.png"/>
        </div>

        <div class="row header">
            <h1>Please Select Old or New</h1>
        </div>

        <br>

        <form id="form" method="post" action = "/choose" enctype="multipart/form-data">
          <div class="row label">
        	   <label for="num">Choose old or new : </label>
          </div>
          <div class="row">
            <select class="form" id ="mySelesct" name ="tense">
              <option value ="New">New</option>
              <option value = "Old">Old</option>
            </select>
          </div>
          <div class="row">
            <input class="btn btn-primary btn-lg submit-btn" type="submit" value="Submit">
          </div>
        </form>
        {% if error %}
          <p class="error"><strong>Error:</strong> {{ error }} </p>
        {% endif %}
      </div>

    </div>
  </body>
</html>
