<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<link rel="stylesheet" href="{{url_for('static',filename='1.css') }}">
<link rel="stylesheet" type="text/css" href="../static/1.css">
<link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='testpage.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- Google Fonts --> 
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand" rel="stylesheet">

    <link rel= "stylesheet" type= "text/css" href= "../static/login.css">
<title> Results!!</title>
</head>
<body>
	<div class="container main">
      <div class="col align-self-center">

        <div class="row">
          <img class="logo" src="../static/logo.png"/>
        </div>

        <div class="row header">
            <h1>Here are your recommendations!!</h1>
        </div>

        <br>

        {% if error %}
          <p class="error"><strong>Error:</strong> {{ error }} </p>
        {% endif %}
      </div>
    </div>

    <style>
    	
    </style>
    <div class="container-fluid" style=>
	<div class="row">
		<div class="col-lg-2 col-sm-6" >
		  	<div class="hovereffect1">
		  		<img class="img-fluid" src={{urls[0]}} alt = "first image">
		  		<div class="overlay1">
		             	<h2>{{tweet[0]}}</h2>
		        </div>
		  	</div>
		 </div>

		 <div class="col-lg-2 col-sm-6" >
		  	<div class="hovereffect1">
		  		<img class="img-fluid" src={{urls[1]}} alt = "first image">
		  		<div class="overlay1">
		             	<h2>{{tweet[1]}}</h2>
		         </div>
		  	</div>
		 </div>

		 <div class="col-lg-2 col-sm-6" >
		  	<div class="hovereffect1">
		  		<img class="img-fluid" src={{urls[2]}} alt = "first image">
		  		<div class="overlay1">
		             	<h2>{{tweet[2]}}</h2>
		         </div>
		  	</div>
		 </div>


		 <div class="col-lg-2 col-sm-6" >
		  	<div class="hovereffect1">
		  		<img class="img-fluid" src={{urls[3]}} alt = "first image">
		  		<div class="overlay1">
		             	<h2>{{tweet[3]}}</h2>
		         </div>
		  	</div>
		 </div>

		 <div class="col-lg-2 col-sm-6" >
		  	<div class="hovereffect1">
		  		<img class="img-fluid" src={{urls[4]}} alt = "first image">
		  		<div class="overlay1">
		             	<h2>{{tweet[4]}}</h2>
		         </div>
		  	</div>
		 </div>
	</div>
	</div>
   
	
	
<script src="scripts/test.js"></script>
</body>
</html>
