!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='testpage.css') }}">
<title> Our Test page</title>
</head>
<body>
	<p>"
		{{tweet[0]}}
		<img src= {{urls[0]}} alt = "first image">
		"
	</p>
	<p>"
		{{tweet[1]}}
		<img src= {{urls[1]}} alt = "first image">
		"
	</p>
	<p>"
		{{tweet[2]}}
		<img src= {{urls[2]}} alt = "first image">
		"
	</p>
	<p>"
		{{tweet[3]}}
		<img src= {{urls[3]}} alt = "first image">
		"
	</p>
	<p>"
		{{tweet[4]}}
		<img src= {{urls[4]}} alt = "first image">
		"
	</p>
<script src="scripts/test.js"></script>
</body>
</html>
